{% extends 'halamankepalagudang/layout.html' %}

{% block title %}Status{% endblock %}

{% block content %}
<h1>Stok Barang</h1>
<br/>
<a href="{{ url_for('tambahjabatan') }}" role="button" class="tombolcrudgud">Tambah Stok</a>
<br/>
<br/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.jqueryui.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" style="width: 100%;" id="mytable">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-darker dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">ID Stok</th>
            <th scope="col" class="py-3 px-6">Jumlah Stok</th>
            <th scope="col" class="py-3 px-6">Nama Barang</th>
            <th scope="col" class="py-3 px-6">Jumlah Barang Masuk</th>
            <th scope="col" class="py-3 px-6">Harga Satuan</th>
            <th scope="col" class="py-3 px-6">Total</th>
            <th scope="col" class="py-3 px-6">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for row in stokbarang %}
          <tr class="bg-white border-b dark:bg-dark border-gray-700">
            <td scope="row" class="py-4 px-6 font-medium whitespace-nowrap text-gray-800 dark:text-white">{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.12 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            <td class="py-4 px-6">
                <a href="/kepgud/daftarjabatan/hapusjabatan/{{ row[0] }}" onclick="return confirm('Are you sure you want to delete?');" role="button"><i class="bi bi-trash"></i></a>
                <a href="/kepgud/daftarjabatan/editjabatan/{{ row[0] }}" role="button"><i class="bi bi-pencil-square"></i></a>
          </tr>
          {% endfor %}
        </tbody>
        <script>
          $('#mytable').dataTable();
      </script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

      </table>
    
</div>
{% endblock %}
